{% extends 'base.html' %}
{% block title %}Блюдо{% endblock %}

{% block content %}
    <h2>{{ food.name }}</h2>
    <p>{{ food.description }}</p>
    <img class="food_photo" src="{{ food.photo.url }}" alt="food photo">
    <br>
    <p>Цена: {{ food.price }}</p>
    {% if perms.webapp.change_food %}
        <a href="{% url "webapp:food_update" food.pk %}">Изменить блюдо</a>
    {% endif %}
    {% if perms.webapp.delete_food %}
        <a href="{% url "webapp:food_delete" food.pk %}">Удалить блюдо</a>
    {% endif %}
    <hr>

{% endblock %}
