{% extends 'base.html' %}

{% block title %}Блюда в заказе{% endblock %}

{% block content %}
    {% if order.can_be_changed %}
        <h1>Добавьте блюда в заказ</h1>
        <form action="{% url 'webapp:orderFood_create' order.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    {% else %}
        <h3>Невозможно изменить заказ</h3>
        <a href="{% url "webapp:order_list" %}">Перейти к заказам</a>
    {% endif %}
{% endblock %}
