{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}

{% block content %}
    <h2>Заказ {{ order.id }}</h2>
    <p>Имя клиента: {{ order.contact_name }}</p>
    <p>Телефон: {{ order.contact_phone }}</p>
    <p>Адрес доставки: {{ order.delivery_address }}</p>
    <p>Статус доставки: {{ order.get_status_display }}</p>
    <p>Оператор: {{ order.operator }}</p>
    <p>Курьер: {{ order.courier }}</p>
    <a href="{% url "webapp:order_update" order.pk %}">Изменить детали</a><br>
    <a href="{% url "webapp:order_cancel" order.pk %}">Отменить заказ</a>
    <hr>

    {% for orderFood in order.foods.all %}
        <p class="d-inline-block">{{ orderFood.food.name }}: {{ orderFood.amount }}</p>
        <a href="{% url "webapp:orderFood_update" orderFood.pk %}"><i class="fa fa-edit"></i></a>
        <a href="{% url "webapp:orderFood_delete" orderFood.pk %}"><i class="fa fa-trash"></i></a><br>

    {% endfor %}


    <a href="{% url "webapp:orderFood_create" order.pk %}">Добавить блюдо</a><br>
    <hr>

{% endblock %}