{% extends 'base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}
    <h1>Список заказов:</h1>
    {% for order in order_list %}
        <h3 class="d-inline-block"><a href="{% url 'webapp:order_detail' order.pk %}">{{ order.contact_name }} {{ order.contact_phone }}, {{ order.delivery_address }}</a></h3>

        {% if perms.webapp.can_take_and_deliver_orders %}
            {% if order.status == 'preparing' %}
                <h5><a href="{% url 'webapp:status_update' order.pk %}">Взять заказ</a></h5>
            {% elif order.status == 'on_way' and order.courier == request.user %}
                <h5><a href="{% url 'webapp:status_update' order.pk %}">Отметить как доставленный</a></h5>
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}
