{% extends 'base.html' %}

{% block title %}Изменить заказ{% endblock %}

{% block content %}
    <h1>Изменить заказ</h1>
    {% if order.can_be_changed or order.is_canceled %}
        <form action="{% url 'webapp:order_update' order.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    {% else %}
        <h3>Невозможно изменить заказ</h3>
        <a href="{% url "webapp:order_list" %}">Перейти к заказам</a>
    {% endif %}
{% endblock %}