{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% load staticfiles %}
{% block content %}
    <h2>Заказ {{ order.id }}</h2>
    <p>Имя клиента: {{ order.contact_name }}</p>
    <p>Телефон: {{ order.contact_phone }}</p>
    <p>Адрес доставки: {{ order.delivery_address }}</p>
    <p>Статус доставки: {{ order.get_status_display }}</p>
    <p>Оператор: {{ order.operator }}</p>
    <p>Курьер: {{ order.courier }}</p>
    {% if perms.webapp.change_order and order.can_be_changed %}
        <a href="{% url "webapp:order_update" order.pk %}">Изменить детали</a><br>
    {% endif %}
    {% if perms.webapp.change_order and order.can_be_canceled %}
        <a href="{% url "webapp:order_cancel" order.pk %}">Отменить заказ</a>
    {% endif %}
    {% if perms.webapp.change_order and order.is_canceled %}
        <a href="{% url "webapp:order_update" order.pk %}">Восстановить заказ</a>
    {% endif %}
    <hr>
    <ul id="order_food_list" class="list-unstyled">
        {% for orderFood in order.foods.all %}
            <li id="orderFood_{{ orderFood.pk }}"><span class="food_name">{{ orderFood.food.name }}</span>: <span class="food_amount">{{ orderFood.amount }}</span>
            {% if perms.webapp.change_orderfoods and order.can_be_changed %}
                <a href="{% url 'webapp:order_food_update' orderFood.pk %}" class="edit_food" data-food_pk="{{ orderFood.food.pk }}" data-food_amount="{{ orderFood.amount }}"><i class="fa fa-edit"></i></a>
{#                <a href="{% url 'webapp:order_food_delete' orderFood.pk %}" class="delete_food"><i class="fa fa-trash"></i></a>#}
            {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if perms.webapp.add_orderfoods and order.can_be_changed %}
        <a href="{% url 'webapp:order_food_create' order.pk %}" class="add_food">Добавить блюдо</a><br>
    {% endif %}

    <hr>


    <div class="modal" tabindex="-1" role="dialog" id="food_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form id="food_form">
                  {% csrf_token %}
                  {{ form.as_p }}
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="food_submit"></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

