{% extends 'base.html' %}

{% block title %}Изменить заказ{% endblock %}

{% block content %}
    <h1>Изменить заказ</h1>
    {% if order.status == 'delivered' or order.status == 'on_way' %}
        <h3>Невозможно изменить заказ, он уже доставляется или доставлен</h3>
        <a href="{% url "order_list" %}">Перейти к заказам</a>
    {% else %}
    <form action="{% url 'order_update' order.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    {% endif %}
{% endblock %}